In [116]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import f1_score
import numpy as np

In [117]:
data = pd.read_csv('data/train.csv')

In [118]:
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [119]:
#drop id columns
data = data.drop('employee_id', axis=1)
#drop rows ith NAs
data = data.dropna()

#divide features and target
X = train_data.drop('is_promoted', axis=1)
Y = train_data[['is_promoted']]

#log transform skew variable
X['no_of_trainings'] = np.log(X['no_of_trainings'] + 1)

# minmax scale 
numerical = ['no_of_trainings', 'age', 'previous_year_rating', 'length_of_service','avg_training_score']
scaler = MinMaxScaler() 
X[numerical] = scaler.fit_transform(X[numerical])

#manually convert gender to binary
X["gender"] = X.gender.apply(lambda s: 1 if s == "f" else 0)

#onehot encoding for rest of categorical variables
X= pd.get_dummies(X)

#data split
X_train, X_test, y_train, y_test = train_test_split(X, Y,  test_size = 0.2, random_state = 155)

In [122]:
n_estimators = 50
learning_rate = 1

model = AdaBoostClassifier(n_estimators=n_estimators, learning_rate=learning_rate)
model.fit(X_train, y_train)

y_predicted = model.predict(X_test)

score = f1_score(y_test, y_predicted)

/home/andres/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)